@use 'sass:map';
@use './constants' as c;

.u-display-none {
	display: none;
}

.u-mb-md {
	margin-bottom: map.get(c.$spaces, md);
}

.u-no-wrap {
	white-space: nowrap;
}

// Screen reader only
.u-sr-only {
	height: 1px;
	left: -10000px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}

.u-text-center {
	text-align: center;
}
